.header-wrapper {
  margin-bottom: 2rem;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.main-header h1 {
  font-size: 1.5rem;
}
.main-header .search {
  flex: 1;
  margin: 0rem 2rem;
}

.main-header .search input {
  width: 100%;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 50px;
}

.main-header nav a {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 1rem;
  font-weight: 800;
}

.main-header nav a span {
  color: red;
  display: inline-block;
  color: red;
}

.main-header .menu {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.links {
  text-align: center;
}

.links a {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .header-wrapper {
    margin-bottom: 1rem;
  }
  .main-header .search,
  .main-header nav {
    display: none;
  }

  .main-header .menu {
    display: block;
  }
}
